<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">
                            <%= process.env.APP_NAME %>
                        </h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Main Category</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--End start page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <a href="/main-category" class="btn btn-success waves-effect waves-light"><i
                                            class="fas fa-list me-2"></i>Main Category List</a>
                                </div>
                            </div>
                            <div class="p-2 mt-4">
                                <!--
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <i class="uil uil-exclamation-octagon me-2"></i>
                                        <b>Error!</b>
                                            <ul>
                                                @foreach ($errors->all() as $error)
                                                    <li>{{ $error }}</li>
                                                @endforeach
                                            </ul>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                                                
                                        </button>
                                    </div>
                          
                                
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <i class="uil uil-check me-2"></i>
                                        <b>Success!</b> {{ session('success') }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                                                
                                        </button>
                                    </div>
                            
                                
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <i class="uil uil-exclamation-octagon me-2"></i>
                                        <b>Error!</b> {{ session('danger') }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                                                
                                        </button>
                                    </div>
                               
                                -->
                                <form id="formSubmitHandler" method="POST" enctype="multipart/form-data">

                                    <div class="row">
                                        <div class="mb-2 col-sm-6">
                                            <label class="form-label" for="name">Main Category Name</label>
                                            <input type="text" class="form-control" id="name" name="name" value=""
                                                placeholder="Enter Main Category Name">
                                        </div>
                                        <div class="mb-2 col-sm-6">
                                            <label class="form-label" for="slug">Slug</label>
                                            <input type="text" class="form-control" id="slug" name="slug" value=""
                                                placeholder="Enter Slug">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-sm-6">
                                            <label class="form-label" for="status1">Status</label>
                                            <select name="status1" id="status1" class="form-select">
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>


                                        <div class="col-sm-6">
                                            <div class="mb-2">
                                                <label class="form-label" for="image">Image</label>
                                                <input type="file" class="form-control" id="image" name="image">
                                            </div>
                                            <div class="mb-2">
                                                <img id="uploadPreview"
                                                    style="width: 233px; height: 100px; border:1px solid #83888C; background-color: #ffffff;">
                                            </div>

                                        </div>

                                    </div>

                                    <div class="mt-3 ">
                                        <button class="btn btn-primary w-sm waves-effect waves-light"
                                            type="submit">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-row -->
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>


<script>
    $(() => {
        getSlug();
    })

    //function to get slug
    function getSlug() {
        $('#name').on('input change', function () {
            let slug = $('#name').val().toLowerCase();
            $('#slug').val(slug);
        })
    };

    let uploadedImage = {}
    let uploadedImage1 = {}
    document.getElementById("image").addEventListener("change", () => {
        uploadedImage = document.getElementById("image").files[0]
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("image").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    })


    document.getElementById("formSubmitHandler").addEventListener("submit", (e) => {
        e.preventDefault()
        const token = window.localStorage.getItem('token');

        var data = {
            name: $('#name').val(),
            slug: $('#slug').val(),
            status: $('#status1').val(),
        };

        const formdata = new FormData()
        formdata.append("name", data.name)
        formdata.append("slug", data.slug)
        formdata.append("status", data.status)
        formdata.append("image", uploadedImage)
        $.ajax({
            type: "POST",
            url: "/main-category/",
            data: formdata,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {
                window.alert("Success");
                $('#name').val("")
                $('#slug').val("")
                $('#status1').val("")
                $('#image').val("")
                document.getElementById("uploadPreview").src = '';
            },
            error: function error(error) {
                window.alert('Something went wrong');
                console.log(error);
            }
        });
    });

</script>