<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">
                            <%= process.env.APP_NAME %>
                        </h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Add Product Sub Category</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--End start page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <a href="/sub-category/" class="btn btn-warning waves-effect waves-light"><i
                                            class="fas fa-list me-2"></i>Sub Category List</a>
                                </div>
                            </div>
                            <div class="p-2 mt-4">
                                <form id="formSubmitHandler" method="POST" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="mb-2 col-sm-6">
                                            <label class="form-label" for="name">Sub Category Name</label>
                                            <input type="text" class="form-control" id="name" name="name" value=""
                                                placeholder="Enter Category Name">
                                        </div>
                                        <div class="mb-2 col-sm-6">
                                            <label class="form-label" for="slug">Slug</label>
                                            <input type="text" class="form-control" id="slug" name="slug" value=""
                                                placeholder="Enter Slug" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-2 col-sm-6">
                                            <label class="form-label" for="main_category">Under Main Category</label>
                                            <select name="main_category" id="main_category" class="form-select">
                                            </select>
                                        </div>
                                        <div class="mb-2 col-sm-6">
                                            <label class="form-label" for="category">Under Category</label>
                                            <select name="category" id="category" class="form-select">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-2 col-sm-12">
                                            <label class="form-label" for="meta_title">Meta Title</label>
                                            <textarea class="form-control" id="meta_title" name="meta_title"
                                                placeholder="Meta Title" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-2 col-sm-12">
                                            <label class="form-label" for="meta_keywords">Meta Keywords</label>
                                            <textarea class="form-control" id="meta_keyword" name="meta_keywords"
                                                placeholder="Meta Keywords" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-2 col-sm-12">
                                            <label class="form-label" for="meta_description">Meta Description</label>
                                            <textarea class="form-control" id="meta_description" name="meta_description"
                                                placeholder="Meta Description" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-2 col-sm-12">
                                            <label class="form-label" for="other_meta_tags">Other Meta Tags
                                                (Optinal)</label>
                                            <textarea class="form-control" id="other_meta_tags" name="other_meta_tags"
                                                placeholder="Other Meta Tags" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-sm-12">
                                        <label class="form-label" for="page_content">Page Content</label>
                                        <textarea class="form-control" name="page_content" rows="6"
                                            id="page_content"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-sm-6">
                                            <label class="form-label" for="status1">Status</label>
                                            <select name="status1" id="status1" class="form-select">
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-2">
                                                <label class="form-label" for="image">Image</label>
                                                <input type="file" class="form-control" id="image" name="image">
                                            </div>
                                            <div class="mb-2">
                                                <img id="uploadPreview"
                                                    style="width: 233px; height: 100px; border:1px solid #83888C; background-color: #ffffff;">
                                            </div>

                                        </div>

                                    </div>

                                    <div class="mt-3 ">
                                        <button class="btn btn-primary w-sm waves-effect waves-light"
                                            type="submit">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- end-row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
</div>


<script>

    let uploadedImage = {}
    document.getElementById("image").addEventListener("change", () => {
        uploadedImage = document.getElementById("image").files[0]
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("image").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    })


    $(() => {
        displayMainCategories();
        displayCategories();
        getSlug();
    })
    const token = window.localStorage.getItem('token');

    //function to get slug
    function getSlug() {
        $('#name').on('input change', function () {
            let slug = $('#name').val().toLowerCase();
            slug = slug.replace(/\s/g, "-");
            $('#slug').val(slug);
        })
    }

    function displayCategories() {
        let result;
        $.ajax({
            type: "GET",
            url: "/category/fetchAllCategories",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {
                result = result.data;
                result.map((i) => {
                    $("#category").append(`<option value="${i.id}">${i.name}</option>`);
                })
            },
            error: function error(error) {
                window.alert("Something went wrong");
            }
        });
    };

    function displayMainCategories() {
        let result;
        $.ajax({
            type: "GET",
            url: "/main-category/fetchAllMainCategories",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {
                result = result.data;
                result.map((i) => {
                    $("#main_category").append(`<option value="${i.id}">${i.name}</option>`);
                })
            },
            error: function error(error) {
                window.alert("Something went wrong");
            }
        });
    };
    document.getElementById("formSubmitHandler").addEventListener("submit", (e) => {
        const token = window.localStorage.getItem('token');
        e.preventDefault()
        var data = {
            name: $('#name').val(),
            slug: $('#slug').val(),
            main_category_id: $('#main_category').val(),
            category_id: $('#category').val(),
            image: $('#image').val(),
            meta_title: $('#meta_title').val(),
            meta_keyword: $('#meta_keyword').val(),
            meta_description: $('#meta_description').val(),
            other_meta_tags: $('#other_meta_tags').val(),
            page_content: $('#page_content').val(),
            status: parseInt($('#status1').val()),
        };

        const formdata = new FormData()
        formdata.append("name", data.name)
        formdata.append("slug", data.slug)
        formdata.append("main_category_id", data.main_category_id)
        formdata.append("category_id", data.category_id)
        formdata.append("image", uploadedImage)
        formdata.append("meta_title", data.meta_title)
        formdata.append("meta_keyword", data.meta_keyword)
        formdata.append("meta_description", data.meta_description)
        formdata.append("other_meta_tags", data.other_meta_tags)
        formdata.append("page_content", data.page_content)
        formdata.append("status", data.status)


        $.ajax({
            type: "POST",
            url: "/sub-category/",
            data: formdata,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (result) {
                window.alert("Added");
                $('#name').val("");
                $('#slug').val("");
                $('#status1').val("");
                $('#image').val("");
                document.getElementById("uploadPreview").src = '';
            },
            error: function error(err) {
                console.log(err);
                window.alert("Something went wrong");
            }
        });
    });
</script>